<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4">Aqua Valley</h1>

        <!-- Author -->
        <p class="lead">
          Natural water from best places in nature
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Bosnia and Herzegovina</p>

        <hr>
        
        <br>
        <p>Email: info@tryeight.comn</p>
        <br>
        <p>Phone: 00965 99717181</p>
        <br>
        <p>Address: Vesela (Husića vrelo) bb, 70230 Bugojno</p>
          <!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=Valley+Aqua&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>
  
  <!--Google Maps-->
        <hr>

      </div>

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  