<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4 header1">Eight water</h1>

        <!-- Author -->
        <p class="lead header2">
          {{ 'products.title' | translate }}
        </p>

        <ul class="flex-container wrap">

          <div class="card">
            <img src="assets/img/eightVoda6.jpg" alt="Denim Jeans" style="width:100%">
            <h1>{{ 'products.title1' | translate }}</h1>
            <p class="height" style="height: 175px; color: black;">{{ 'products.text1' | translate }}</p>
          </div>
  
          <div class="card">
            <img src="assets/img/eightVoda7.jpg" alt="Denim Jeans" style="width:100%">
            <h1>{{ 'products.title2' | translate }}</h1>
            <p class="height" style="height: 175px; color: black;">{{ 'products.text2' | translate }}</p>
          </div>
  
          <div class="card">
            <img src="assets/img/milenium.jpg" alt="Denim Jeans" style="width:100%">
            <h1>{{ 'products.title3' | translate }}</h1>
            <p class="height" style="height: 175px; color: black;">{{ 'products.text3' | translate }}</p>
          </div>
  
          <div class="card">
            <img src="assets/img/gazirana.jpg" alt="Denim Jeans" style="width:100%">
            <h1>{{ 'products.title4' | translate }}</h1>
            <p class="height" style="height: 175px; color: black;">{{ 'products.text4' | translate }}</p>
          </div>     
        </ul>

        <div class="col-lg-6" style="display: inline-block;">
          <img style="width: 100%; height: auto;" src="assets/img/package1.jpg" alt="Denim Jeans">        
        </div>

        <div class="col-lg-6" style="display: inline-block;">
          <img style="width: 100%; height: auto;" src="assets/img/package2.jpg" alt="Denim Jeans">
        </div>

      </div>

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->