<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4 header1">Eight water-Aqua Valley</h1>

        <!-- Author -->
        <p class="lead header2">
          These are our main and best selling products
        </p>

        <ul class="flex-container wrap">

          <div class="card">
            <img src="assets/img/eightVoda6.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Small 0,375l package</h1>
            <p class="price">0,19 €</p>
            <p style="height: 150px; color: black;">Our main and best selling product is natural water in 0.375l package. This is preferable for most companies who offer our water allong side lunch or coffe to their customers.</p>
          </div>
  
          <div class="card">

            <img src="assets/img/eightVoda7.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Large 1,5l package</h1>
            <p class="price">0,30 €</p>
            <p style="height: 150px; color: black;">Along side 0.375l package we offer bigger 1.5l package which is preferable for home use or some outdoor activities like mountain climing and long walks</p>
          </div>
  
          <div class="card">
            <img src="assets/img/newHotelCustom.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Customized wrapping</h1>
            <p class="price">Negotiable</p>
            <p style="height: 150px; color: black;">For bussineses who wants their logos to be on bottle we also offer custom wrapping for our products. This is really popular in Hotels and Restaurans.</p>
          </div>
  
          <div class="card">
            <img src="assets/img/gazirana.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Mineral water</h1>
            <p class="price">0,5 €</p>
            <p style="height: 150px; color: black;">Mineral water is also being produce in our Aqua Valley. We take best of quality from our natural watter procuts and blend it to produce best mineral water out there</p>
          </div>

        </ul>

      </div>

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->