<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <img class="productImage" style="width: 100%; height: 270px; margin-top: 10%;" src="assets/img/eightVoda1.jpg">
      
        <!-- Author -->
        <p class="lead">
          {{ 'home.h2' | translate }}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ 'home.h3' | translate }}</p>

        <hr>

        <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" style=" width:100%; height: 400px !important;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">{{ 'home.pictureH1' | translate }}</h3>
            <p>{{ 'home.pictureT1' | translate }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" style=" width:100%; height: 400px !important;" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">{{ 'home.pictureH2' | translate }}</h3>
            <p>{{ 'home.pictureT2' | translate }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" style=" width:100%; height: 400px !important;" src="https://live.staticflickr.com/76/174193356_812a3485fe_z.jpg" alt="Third slide">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">{{ 'home.pictureH3' | translate }}</h3>
            <p>{{ 'home.pictureT3' | translate }}</p>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
        <hr>

        <article class="home-article greetings center">
        <blockquote class="blockquote">
          <p class="mb-0" animateIn>{{ 'home.text0' | translate }}</p>
        </blockquote>

        <hr>

        <!-- Post Content -->
        <p class="mb-0" style="color: black;">{{ 'home.text1' | translate }}</p>

        <!-- Post Content -->
        <p class="mb-0" style="color: black;">{{ 'home.text1' | translate }}</p>

        <hr>
        <img class="productImage" style="width: 100%; height: 716px; margin-top: 10%;" src="assets/img/eightVoda5.jpg">
        <hr>
        <p class="mb-0 newLine" style="background-color: #047F8E; color: white; padding: 10px;">{{ 'home.text5' | translate }}{{ 'home.text4' | translate }}</p>
      </article>

      <hr>

      <article class="home-article  greetings center" style="margin-bottom: 5%;">
        <blockquote class="blockquote">
          <p class="mb-0" animateIn>{{ 'home.text0' | translate }}</p>
        </blockquote>
        <!-- Post Content -->
        <p class="mb-0 waterBackGround" style="color: black;">{{ 'home.text1' | translate }}</p>
        <img style="width: 100%; margin-top: 5%; opacity: 0.9;" src="/assets/img/giphy.webp">
      </article>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4" style="margin-top: 1.5rem !important;">

        <h2>{{ 'menu.contact' | translate }}</h2>

        <p>
          {{ 'home.text2' | translate }} <a href = "mailto: abc@example.com">Send Email</a>
        <br>
          {{ 'home.text3' | translate }}
        </p>

        <img class="productImage" style="width: 100%; height: 270px; margin-top: 10%;" src="assets/img/eightVoda.jpg">
      </div>

    </div>
    <!-- /.row -->
  </div>
