.home-article {
    background:
#fff;
padding: 2em 1.5em 1em;
margin-top: 3em;
border: 1px solid
#DFE1E6;
border-radius: 4px;
-webkit-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.75);
box-shadow: 4px 4px 5px -4px rgba(0,0,0,0.75);
}

.newLine {
    white-space: pre-line;
}

.aqua {
    background: rgb(0,69,122);
background: linear-gradient(90deg, rgba(0,69,122,0.8547619731486344) 0%, rgba(0,69,122,0.8771709367340687) 20%, rgba(0,69,122,0.8995799003195029) 50%, rgba(0,69,122,0.8771709367340687) 80%, rgba(0,69,122,0.8519608527004552) 100%);color: white;
}
  