<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

</head>

<body>
  <app-top-navbar [data]="languageList" (langChangeEmit)="changeLanguageHander($event)"></app-top-navbar>

  <div [@triggerName]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</body>

</html>
